

.container {
    gap: 20px;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.l-3, .l-4, .l-9 {
    padding: 20px;
}

ul {
    list-style: none;
    margin: 10px 0;
}

ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #8D6E6E;
    padding: 30px;
}

ul li a:hover {
    color: #8d6e6e;
}

/*Phần infoUser*/

.inforUser{
    margin: 50px 0
}

.user-menu{
    font-weight: bold;
    list-style-type: none;
    padding: 0;
}

.user-info{
    margin-top: 20px;
}

.info-block {
    margin-bottom: 20px;
}

/* Định dạng cho form */
form {
    display: flex;
    flex-direction: column;
}

/* Tiêu đề thông tin người dùng */
.user-info h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Định dạng cho form */
form {
    display: flex;
    flex-direction: column;
}

/* Tạo khoảng cách cho các trường nhập liệu */
.form-group {
    margin-bottom: 15px;
}

/* Nhãn của các trường */
label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

/* Định dạng cho các input */
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    margin-top: 10px;
}

input:disabled {
    background-color: #f4f4f4;
}

/* Định dạng cho các nút */
.ubtn {
    padding: 10px 20px;
    border: 1px solid #8D6E6E;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: #fff;
    background-color: #808080;
}

.ubtn:hover {
    background-color: #8D6E6E;
}

/* Nút Lưu ban đầu ẩn */
#save-btn {
    display: none;
}
